.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--cell-gap) * 6);
  position: relative;

  &__title {
    background: #edc22e;
    color: #f9f6f2;
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: calc(var(--base-unit) / 3);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #d6cdc4;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: var(--border-radius);
    color: #776e65;
    font-size: calc(var(--base-unit) / 4);
  }

  &__controls {
    display: flex;
    gap: var(--cell-gap);
  }

  &__button {
    border: 2px solid #776e65;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    color: #f9f6f2;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: calc(var(--base-unit) / 3);
    width: var(--cell-size);
    height: var(--cell-size);

    transition: 0.25s ease;

    &--start {
      background: #1dae28;
      &:hover {
        background: #179921;
      }
    }

    &--restart {
      background: #f87474;
      font-size: calc(var(--base-unit) / 4);

      &:hover {
        background: #f63838;
      }
    }

    &:disabled {
      background: #776e65;
      color: #d6cdc4;
      cursor: not-allowed;
    }
  }

  &__show-tip {
    position: absolute;
    top: -50%;
    border: none;
    background-color: #776e65;
    width: calc(var(--base-unit) / 4);
    height: calc(var(--base-unit) / 4);
    mask-image: url("../assets/icons/question-mark.svg");
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    cursor: pointer;

    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
      background-color: #edc22e;
    }

    &:focus-visible {
      transform: scale(1.1);
      background-color: #edc22e;
    }
  }
}
