.message {
  width: 90%;
  padding: 10px;
  background: #d6cdc4;
  color: #776e65;
  text-align: center;
  border-radius: var(--border-radius);
  font-size: calc(var(--base-unit) / 4);

  &--win {
    background: #edc22e;
    color: #f9f6f2;
  }

  &--lose {
    background: #f63838;
    color: #f9f6f2;
  }
}
